requests==2.32.3
Flask
Flask[async]
python-dotenv==1.1.0
gunicorn==23.0.0
azure-data-tables==12.6.0
azure-storage-blob==12.25.1
langchain
langchain-openai
langchain-deepseek
langchain-community
langgraph==0.3.21
xmltodict==0.14.2
pydantic==2.11.1
duckduckgo-search==8.0.1
playwright
lxml
beautifulsoup4